.title {
  text-align: center;
  padding: 20px
}

#content .col img {
  float: left;
  width: 50%;
}

#content .col .mission-statement {
  list-style-type: upper-roman;
  text-align: center;
  list-style-position: inside;
}
