.buyers-page .hero-image {
    background-image: url("../details/img/produce-box-2.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.buyers-page .hero-text {
    text-align: center;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.buyers-intro {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}

#opening-statement {
  font-weight: bold;
  font-size: 25px;
}

.how-to {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  text-decoration: underline;
}

.instructions {
  font-size: 20px;
}
