.show-supplier .hero-image {
    background-image: url("../details/img/medley-large.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.show-supplier .hero-text {
    text-align: center;
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 40px 80px 40px 80px;
    border-radius: 25px;
    border: 2px solid #FFFFFF;
    color: white;
}
